header {
    background-color: gray;
    text-align: center;
}

body {
    background-image: url("../images/dinnerPlate.png");
    background-size: cover;
}
.panel {
    background-color: grey;

}
.jumbotron {
    background-image: url("..images/plate.jpeg");
    background-size: cover;
}