header {
    
    text-align: center;
}

body {
    background-image: url("../images/dinnerPlate.png");
    background-size: cover;
}
.panel {
    background-color: transparent;
    border-color: transparent;
}    
/* #timerDisplay {
    font-size: 24px;
    font-style: bold;

}     */


.jumbotron {
    background-color: transparent;
    /* background-size: cover; */
}